@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700");

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background: #ffeea4;
  font-family: "Amatic SC", sans-serif;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}